@import './variables.css';

:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-dark);
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
}
