.form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.row {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}
